.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #080808;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.left-container {
    text-align: center;
    max-width: 300px;
}

.profile-image {
    border: 3px solid white;
    max-width: 80%;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

.profile-name {
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    color: white;
}

.profile-email {
    font-size: 18px;
    margin-top: 5px;
    color: rgba(214, 203, 203, 0.667);
}

.profile-date {
    font-size: 16px;
    margin-top: 5px;
    color: white;
    /* Text color */
}

.right-container {
    flex: 1;
    padding-left: 20px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    color: rgba(206, 91, 91, 0.76);
}

p {
    font-size: 25px;
    line-height: 1.4;
    color: rgba(211, 189, 189, 0.913);
}

.right-container h1,
.right-container p {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}